# Open PHACTS platform
# Docker Compose configuration
# https://docs.docker.com/compose/yml/
#
# Each entry below defines a docker container,
# some of which expose ports, e.g. this exposes
# the internal port 80 as port 3002 to the world:
#
# ports:
#   - "3002:80"
#
# To change the exposed port, change the number on the left
#
# Data is stored in Docker "olumes, which by default would be
# managed by Docker, e.g. created within /var/lib/docker
# with a UUID.
#
# To use a different folder/partition, e.g. for backup purposes,
# speed or disk requirements, modify "volumes:" for the
# *data containers further down.
#


explorer:
  container_name: ops-explorer
  image: openphacts/explorer2
  ports:
    - "3001:3000"
  links:
    - api
  environment:
    # CHANGE: "localhost" to fully qualified hostname
    # Do NOT include a trailing /
    - API_URL=http://localhost:3002
  #restart: always

api:
  container_name: ops-api
  image: openphacts/ops-linkeddataapi
  ports:
    # Remember to match port in API_URL below
    - "3002:80"
  links:
    - ims
    - memcached
    - virtuoso:sparql
  #environment:
  #  - CRS=https://ops.rsc.org/api/v1/
  #  - CONCEPTWIKI=http://www.conceptwiki.org/web-ws/concept
  #restart: always

# SPARQL server
virtuoso:
  container_name: ops-virtuoso
  #image: stain/virtuoso
  build: virtuoso-ops
  ports:
    - "3003:8890"
  volumes_from:
    - virtuosodata
  #restart: always

virtuosodata:
  container_name: ops-virtuosodata
  image: busybox
  volumes:
    # To specify alternative data folder, use instad:
    # - /media/big-SSD/virtuoso:/virtuoso
    - /virtuoso
  container_name: ops-virtuosodata

mysqldata:
  container_name: ops-mysqldata
  image: busybox
  volumes:
    # To specify alternative data folder, use instead:
    # - /media/big-SSD/mysql:/var/lib/mysql
    - /var/lib/mysql


mysql:
  container_name: ops-mysql
  image: mysql
  volumes_from:
    - mysqldata
  environment:
    - MYSQL_ROOT_PASSWORD=uCie0ahgah
    - MYSQL_DATABASE=ims
    - MYSQL_USER=ims
    - MYSQL_PASSWORD=ims
  #restart: always

ims:
  container_name: ops-ims
  image: openphacts/identitymappingservice
  ports:
    - "3004:8080"
  links:
    - mysql
  #restart: always

memcached:
  container_name: ops-memcached
  image: memcached
  #restart: always


mysqlstaging:
  container_name: ops-mysqlstaging
  #build: mysqlstaging
  image: openphacts/identitymappingservice-staging
  links:
    - mysql
#
# Populate RDF from virtuoso backup download
virtuosostaging:
  container_name: ops-virtuosostaging
  build: virtuosodata-frombackup
  volumes_from:
    - virtuosodata
#
# To customize RDF dataloading, comment OUT the above 'virtuosostaging' block,
# uncomment the below block, and then run
# docker-compose up -d virtuosostagingrdf
#
## BEGIN custom loading

### Download from data.openphacts.org
#openphactsrdf:
#  container_name: ops-openphactsrdf
#  build: openphacts-rdf
#  volumes:
#    # To specify alternative data folder, use instad:
#    # - /media/big-SSD/download:/download
#    # - /media/big-SSD/staging:/staging
#    - /download
#    - /staging
#    # /download
#
### Load into virtuoso
#virtuosostagingrdf:
#  container_name: ops-virtuosostagingrdf
#  build: virtuosodata-fromrdf
#  volumes_from:
#    - virtuosodata
#    - openphactsrdf

### END custom loading



## Future services

#elasticsearch:
#  container_name: ops-elasticsearch
#  image: elasticsearch
##  TODO: Data loading
#ops-search:
# container_name: ops-search
# image: openphacts/ops-search
